* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(70deg, rgba(171, 234, 236, 0.2), 75%,  rgba(159, 206, 232, 0.8));
}

.bg-green {
    background: linear-gradient(70deg, #cff4fc, 75%,  rgba(159, 206, 232, 0.8));;
}

.w-80 {
    width: 80%;
}

.btn-sm {
    font-size: 12px !important;
}
nav {
    margin-bottom: 3rem;
}

section.options {
    margin-top: 1rem;
}

section.content {
    margin-top: 1.5rem;
}

section.pagination {
    margin-top: 2.5rem;
}

.alert {
    padding: .5rem 1rem !important;
    font-size: 16px !important;
}

.alert-dismissible .btn-close {
    padding: .75rem 1rem !important;
}

.options select {
    background: #fff;
    padding: 0.25rem !important;
    border-radius: .25rem !important;
    margin-right: 0.25rem;
    font-size: 14px;
}

.form-check-input {
    border: 2px solid rgba(159, 206, 232, 1);
}
.form-check-input:checked {
    background-color: #426792;
    border-color: white;
}

.edited {
    font-size: 13px;
    text-decoration: underline;
    text-decoration-color: #426792 ;
}

ul.pagination li {
    cursor: pointer;
    margin: 8px 4px;
    padding: 8px 14px;
    border: 1px solid #426792;
    color: #426792;
}

ul.pagination li a {
    color: #426792;
    text-decoration: none;
}

ul.pagination .active {
    background: #426792;
}

ul.pagination .active > a {
    color: white;
    font-weight: bold;
}